@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';


// Additional styles
@import 'partials/utility-patterns.scss';
@import 'partials/range-slider.scss';
@import 'partials/toggle-switch.scss';
@import 'partials/flatpickr.scss';
@import 'partials/theme.scss';

@import 'tailwindcss/utilities';
@import "@vueform/multiselect/themes/default.css";


/** Input multiselect **/
.multiselect-input {
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 40px;
    color: rgb(51 65 85)!important;
    border: 2px solid rgb(203, 213, 225) !important;
    background-color: #fff;
    border-radius: 0.5rem !important;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    outline: none;
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
}
